{% extends 'layout.html' %}

{% block content %}
    <!-- Nunjucks
        - 정적인 요소들은 전부 HTML 문법
        - JS 문법 안에 변수를 사용할 때는 중괄호 두개 안쪽에 작성해준다 
        - res.render() 안의 두번째 인자에서 보내준 데이터를 받을 수 있다.
    -->
    <h1>Welcome to {{title}} Page!</h1>

    <!-- 1) 변수 선언 및 사용
        - 선언 : 중괄호 퍼센트 퍼센트 중괄호
        - 변수 키워드는 set
    -->

    {% set pos = "2강의장" %}
    <p>{{pos}}으로 이동하세요~</p>

    <!-- 2) 조건문 
        if () {}       ==> if
        else if () {}  ==> elif
        else {}        ==> else
                ** new ==> endif

    -->
    {% set time = "저녁" %}
    {% if time === "오전" %}
    <p>오늘 오전은 기획발표 시간입니다! b</p>
    {% elif time === "오후" %}
    <p>오늘 오후는 영표쌤과 함께하는 Node.js 시간 ~</p>
    {% else %}
    <p>퇴실 꼭 찍으시고 조심히 가세요 ~~ </p>
    {% endif %}

    <!-- 3) 반복문 
        - 반복 시작 : for 변수 in 배열
        - 반복 끝 : endfor
    -->

    {% set menu = ['떡볶이', '파인애플🍍', '카레', '회'] %}

    <table border="1px solid gray">
        <tr>
            <th colspan="4">메뉴</th>
        </tr>
        <tr>
            {% for i in menu %}
            <td>{{i}}</td>
            {% endfor %}
        </tr>
    </table>


    <!-- 4) include
        - 파일 안에 파일을 포함해주는 경우
        - header나 footer 등 웹 제작 시, 다양한 웹페이지에서 공통적으로 사용하는 부분을
        효율적으로 관리할 수 있다.
    -->

    {% include "refer.html" %}



{% endblock %}